<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome.css">
</head>
<body>
    <header class="encabezado">
        <img src="images/logo-mercado-liebre.svg" alt="logo">
        <div><input type="search" name="busqueda" id="" placeholder="Buscar productos, marcas"></div>
            <i class="fa-solid fa-magnifying-glass"></i>
<!--        <div>Lugar para poner la barra de busqueda</div>   -->
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#CreaTuCuenta">Creá tu cuenta</a></li>
                <li><a href="#Ingresá">Ingresá</a></li>
                <li><a href="#MisCompras">Mis compras</a></li>
            </ul>   
        </nav>
    </header>
    <main>
        <section>
            <header>
                <h3>Basado en tu última visita</h3>
            </header>
            <article>      
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div>$6.770</div>
                <div>40% OFF</div>
                <strong>Cafetera Moulinex</strong>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="precios">$230.000</div>
                <div class="descuentos">20% of</div>
                <strong class="descripciones">MacBook Pro 2019</strong>
            </article>
            <article>      
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="precios">$70.500</div>
                <div class="descuentos">10% of</div>
                <strong class="descripciones">Samsung Galaxy S10</strong>
            </article>
            <article>      
                <img src="images/img-tv-samsung-smart.jpg" alt="samsung smart">
                <div class="precios">$23.200</div>
                <div class="descuentos">5% OFF</div>
                <strong class="descripciones">SmartTv Samsung 43"</strong>
            </article>
        </section>
        <section>
            <header>
                <h3>Ofertas</h3>
            </header>
            <article>      
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="precios">$6.770</div>
                <div class="descuentos">40% OFF</div>
                <strong class="descripciones">Cafetera Moulinex</strong>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="precios">$230.000</div>
                <div class="descuentos">20% of</div>
                <strong class="descripciones">MacBook Pro 2019</strong>
            </article>
            <article>      
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="precios">$70.500</div>
                <div class="descuentos">10% of</div>
                <strong class="descripciones">Samsung Galaxy S10</strong>
            </article>
            <article>      
                <img src="images/img-tv-samsung-smart.jpg" alt="samsung smart">
                <div class="precios">$23.200</div>
                <div class="descuentos">5% OFF</div>
                <strong class="descripciones">SmartTv Samsung 43"</strong>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <header><h4>Pagá con tarjeta o en efectivo</h4></header>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <header><h4>Envío gratis desde $ 2.500</h4></header>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <header><h4>Seguridad, de principio a fin</h4></header>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <header><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></header>
        </section>
    </footer> 
</body>
</html>