* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

/* Header */
.encabezado {
    background-color: #EAC926;
    width: 100vw;
}

.lista {
    padding-left: 0%;
}

.lista a {
    text-decoration: none;
    color:black;
}

.burger-container {
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-banner {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;  
}

.banner {
    width: 100%;
}

/*.burger-menu i {
    font-size: 50px;
    color: #ebebeb;
    background-color: #1259c3;
} */

/* Main */
main {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
}

.contenedor-main {
    width: 90vw;

}

h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos, .descripciones { 
    font-size: 16px;
}

/* Footer */
.footer-section {
    margin-top: 0px;
}

.icono-footer {
    margin-bottom: 10px;
}
.icono-footer i {
    font-size: 2em;
    color: #1259c3;
}

footer section article p {
    margin-top: -15px;
}