body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.encabezado {
    background-color: #EAC926;
}

h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos, .descripciones { 
    font-size: 16px;
}

#lista a {
    text-decoration: none;
    color:black;
}

.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
}
